body {
    margin: 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 40px;
}
/* Header */
header{
    height: 167px;
    background-image: url('./media/header.jpeg') ;
    background-position: 50% 60%;
    user-select: none;
}
header .container{
    color: #FFF;
}
header h1{
    font-size: 39px;
    line-height: 24px;
    font-weight: 400;
    padding: 46px 0 19px 46px;
    margin: 0;
}
header h2{
    font-size: 22px;
    line-height: 14px;
    font-weight: 400;
    margin: 0;
    padding-left: 46px;
}
/* Main */
main .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.flex-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #757575;
    width: 90%;
}
.flex-main:last-child{
    margin-bottom: 20px;
}

.left{
    display: flex;
    justify-content: left;
    align-items: center;
}
.left h1{
    font-size: 5em;
    margin: 0 0 20px;
    text-align: left;
}
.left h3, .left p{
    margin: 0;
    width: 250px;
}
.left p:nth-child(2){
    margin: 8px 0;
}
.right{
    display: flex;
    justify-content: right;
}
.flex-main button{
    font-size: 32px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
}
.flex-main button:hover{
    cursor: pointer;
    background: linear-gradient(45deg, #CA9CE1, #DF2935)
}
.container, .container2{
    width: 600px;
}

/* order */
.order{
    width: 90%;
    margin: 0 auto;
    user-select: none;
}
.flex-order{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.item button{
    border: none;
}
.item button:hover{
    cursor: pointer;
}
.total-price{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
}
.complete button{
    width: 100%;
    padding: 20px 20px;
    border: 2px solid black;
    background: #16DB99;
    color: white;
    font-size: 20px
}
.complete button:hover{
    cursor: pointer;
}
/* Modal */
.modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 440px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
.close-modal{
    position: absolute;
    top: 0;
    right: 0;

}
.close-modal button{
    background: transparent;
    font-size: 20px;
    border: none;
}
.close-modal button:hover{
    cursor: pointer;
}
.form{
    display: flex;
    width: 100%;
    height: 440px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.form h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    margin: 0;
}
.modal input{
    width: 350px;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 400;
    color: #757575
}
.form button{
    width: 394px;
    padding: 20px 20px;
    border: 2px solid #757575;
    background: #16DB99;
    color: white;
    font-size: 20px
}
.form button:hover{
    cursor: pointer;
}
.hidden{
    display: none;
}
@media (max-width: 767px){
    .container, .container2{
        width: 100%;
    }
    .flex-main{
        justify-content: center;
    }
    .left h1{
        font-size: 3em;
        width: 80px;
    }
    .left h3, .left p{
        width: 180px;
    }
    .flex-main button{
        width: 30px;
        height: 30px;
        font-size: 20px;
    }
    h2{
        font-size: 1em;
    }
    .complete button{
        border: none;
        border-radius: 10px;
    }
    .flex-order{
        justify-content: space-between;
    }
    .flex-order .left p{
        width: auto;
    }
    .bold{
        font-size: 1.2em;
        text-align: center;
        font-weight: 800;
    }
    .modal{
        width: 80%;
        height: 60%;
    }
    .modal input{
        width: 70%;
    }
    .form button{
        width: 85%;
    }
}